<!DOCTYPE html>
<html>
  <head></head>
    <title>Todo</title>
    <meta charset="UTF-8">
  </head>
  <body>
  <h1 align="center">Enter your todos....</h1>
  <form align="center" action="/words" method="post">
    <input type="text" placeholder="Enter your todo" name="todo">
  </form>
  </body>
</html>
